@font-face {
  font-family: LatoRegular;
  src: url('./fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato-Light.ttf')
}

@font-face {
  font-family: LatoBold;
  src: url('./fonts/Lato-Bold.ttf')
}

html, body {
  min-height: 100%;
}

.header {
  padding: 1.5%;
  background-color: #2D8CFF;
  text-align: center;
}

.alchezoomy {
  font-family: LatoLight;
  font-size: 4em;
  color: #232333;
}

.zoom-logo {
  position: inline;
  margin-bottom: -.7%;
  width: 2.5em;
}

.landing {
  font-family: LatoRegular;
  text-align: center;
  color: #232333;
}

.landing-tagline {
  font-family: LatoBold;
  font-size: 3em;
}

.landing-description {
  margin-bottom: 7%;
  font-family: LatoLight;
}

.box {
  margin: 0 auto;
  width: 30em;
  height: 20em;
  border: solid 2px #2D8CFF;
  border-radius: 20px;
}

.student-button {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 2em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.student-button:hover, .login-button:hover, .signup-button:hover, .search:hover, .sort:hover {
  background-color: #2D8CFF;
  color: white;
  transition-duration: 1s;
  cursor: crosshair;
}

.login {
  text-align: center;
  font-family: LatoRegular;
}

.student-login, .student-signup {
  margin: 5%;
  font-family: LatoBold;
  font-size: 2em;
  color: #232333;
}

.email {
  margin-top: 8%;
}

.email, .password {
  margin-bottom: 2%;
  font-size: 1.3em;
}

input {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 1.2em;
  caret-color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.login-button, .signup-button {
  margin-top: 4%;
  height: 25%;
  width: 20%;
  font-size: 1.1em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.sign-up {
  margin-top: 12%;
  color: #232333;
}

.link {
  text-decoration: none;
  color: #2D8CFF;
}

.link:hover, .footer-link:hover {
  text-decoration: underline;
  cursor: crosshair;
}

.sign-up-page {
  text-align: center;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student-dashboard {
  font-family: LatoRegular;
  color: #232333;
  text-align: center;
}

.dash-menu {
  cursor: crosshair;
  text-align: center;
  width: 12%;
  padding: 1%;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 1.5em;
  background-color: #BABACC;
}

.dash-menu:hover, .dash:hover, .logout:hover, .fav:hover, .arc:hover {
  cursor: crosshair;
  color: white;
  transition-duration: 1s;
}

.content {
  float: left;
  text-align: center;
  width: 14%;
  margin-left: 1%;
  background-color: #BABACC;
}

.dash, .logout, .fav, .arc {
  text-decoration: none;
  color: #232333;
  font-size: 1.5vw;
  padding-top: .3em;
  padding-bottom: .3em;
}

.dashboard {
  position: absolute;
  font-family: LatoBold;
  margin-top: -2%;
  margin-left: 20%;
  font-size: 3.5vw;
}

.search-and-sort {
  position: absolute;
  margin-top: -2%;
  text-align: right;
  width: 30%;
  right: 5%;
}
.searchbar {
  width: 70%;
  height: 1.2em;
}

.search {
  margin-left: 1%;
  width: 25%;
  line-height: 1em;
  font-size: 2vw;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.sort {
  margin-top: 2%;
  font-size: 1.4vw;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.video-box {
  display: absolute;
  margin-top: 6%;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 5%;
  width: 55%;
  height: 40vw;
  border: solid 1px #2D8CFF;
  text-decoration: none;
  overflow-y: scroll;
}

.video-item {
  font-family: LatoRegular;
  border: solid 2px #747487;
  padding-bottom: 2%;
  color: #2D8CFF;
}

.video-item:hover {
  background-color: #2D8CFF;
  color: white;
  transition-duration: 1s;
}

.meeting-link {
  text-decoration: none;
}

.topic {
  margin-top: 1%;
  margin-bottom: 1%;
}

.upload-date {
  font-family: LatoLight;
  color: #232333;
}

.video-list {
  background-color: #E4E4ED;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  height: 25em;
  background-color: #232333;
}

.chat {
  float: right;
  margin-right: 3%;
  margin-top: -33.4%;
  width: 20%;
  height: 25em;
  border: solid 1px #232333;
}

.buttons {
  margin-left: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2em;
  padding: .7em;
  background-color: #747487;
  text-align: right;
  font-family: LatoLight;
  font-size: 1em;
}

.footer-link {
  margin-right: 2%;
  color: white;
  text-decoration: none;
}

.footer-text {
  padding: .5em;
}