@font-face {
  font-family: LatoRegular;
  src: url('./fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato-Light.ttf')
}

@font-face {
  font-family: LatoBold;
  src: url('./fonts/Lato-Bold.ttf')
}

html, body {
  height: 100%;
}

.header {
  padding: 1.5%;
  background-color: #2D8CFF;
  text-align: center;
}

.alchezoomy {
  font-family: LatoLight;
  font-size: 4em;
  color: #232333;
}

.zoom-logo {
  position: inline;
  margin-bottom: -.7%;
  width: 2.5em;
}

.landing {
  font-family: LatoRegular;
  text-align: center;
  color: #232333;
}

.landing-tagline {
  font-family: LatoBold;
  font-size: 3em;
}

.landing-description {
  margin-bottom: 7%;
  font-family: LatoLight;
}

.box {
  margin: 0 auto;
  width: 30em;
  height: 20em;
  border: solid 2px #2D8CFF;
  border-radius: 20px;
}

.teacher-button {
  margin: 11%
}

.teacher-button, .student-button {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 2em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.teacher-button:hover, .student-button:hover, .login-button:hover, .search:hover, .sort:hover {
  background-color: #2D8CFF;
  color: white;
  transition-duration: 1s;
  cursor: crosshair;
}

.login {
  text-align: center;
  font-family: LatoRegular;
}

.student-login {
  margin: 5%;
  font-family: LatoBold;
  font-size: 2em;
  color: #232333;
}

.email {
  margin-top: 8%;
}

.email, .password {
  margin-bottom: 2%;
  font-size: 1.3em;
}

input {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 1.2em;
  caret-color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.login-button {
  margin-top: 4%;
  height: 25%;
  width: 20%;
  font-size: 1.1em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.sign-up {
  margin-top: 12%;
  color: #232333;
}

.link {
  text-decoration: none;
  color: #2D8CFF;
}

.link:hover, .footer-link:hover {
  text-decoration: underline;
  cursor: crosshair;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student-dashboard {
  font-family: LatoRegular;
  color: #232333;
  text-align: center;
}

.left-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  text-align: left;
  background-color: #BABACC;
  z-index: -1;
}

.left-nav-text {
  margin-top: 6.5em;
}

.user-email {
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
  font-size: 2.5vw;
}

.logout {
  margin-top: 15%;
}

.logout, .fav, .arc {
  font-size: 2vw;
  margin-left: 6%;
}

.dashboard {
  font-family: LatoBold;
  margin-top: 2%;
  margin-left: 20%;
  font-size: 3.5vw;
}

.search-and-sort {
  position: absolute;
  text-align: right;
  width: 30%;
  right: 5%;
}
.searchbar {
  width: 70%;
  height: 1.7em;
}

.search {
  margin-left: 1%;
  padding: 1%;
  width: 20%;
  height: 1.6em;
  font-size: 1.1em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.sort {
  margin-top: 2%;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.video-list {
  display: block;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: auto;
  width: 60%;
  height: 500px;
  border: solid 1px #2D8CFF;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.2em;
  padding: .7em;
  background-color: #747487;
  text-align: right;
  font-family: LatoLight;
  font-size: 1em;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-text {
  padding: .5em;
}