@font-face {
  font-family: LatoRegular;
  src: url('./fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato-Light.ttf')
}

@font-face {
  font-family: LatoBold;
  src: url('./fonts/Lato-Bold.ttf')
}

@font-face {
  font-family: Wingdings;
  src: url('./fonts/Wingdings\ 2.ttf')
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.header-shell {
  height: 150px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1.5%;
  background-color: #2D8CFF;
  text-align: center;
  z-index: 1;
}

.alchezoomy {
  font-family: LatoLight;
  font-size: 4em;
  color: #232333;
}

.zoom-logo {
  position: inline;
  margin-bottom: -.7%;
  width: 2.5em;
}

.landing {
  font-family: LatoRegular;
  text-align: center;
  color: #232333;
}

.landing-tagline {
  font-family: LatoBold;
  font-size: 3em;
}

.landing-description {
  margin-bottom: 7%;
  font-family: LatoLight;
}

.box {
  margin: 0 auto;
  width: 30em;
  height: 20em;
  border: solid 2px #2D8CFF;
  border-radius: 20px;
}

.student-button {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 2em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.student-button:hover, .login-button:hover, .signup-button:hover, .search:hover, .sort:hover, .detail-search-button:hover, .bookmarks:hover, .favorite-button:hover {
  background-color: #2D8CFF;
  color: white;
  transition-duration: 1s;
  cursor: crosshair;
}

.login {
  text-align: center;
  font-family: LatoRegular;
}

.student-login, .student-signup {
  margin: 5%;
  font-family: LatoBold;
  font-size: 2em;
  color: #232333;
}

.email {
  margin-top: 8%;
}

.email, .password {
  margin-bottom: 2%;
  font-size: 1.3em;
}

input {
  width: 50%;
  height: 25%;
  font-family: LatoLight;
  font-size: 1.2em;
  caret-color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.login-button, .signup-button {
  margin-top: 4%;
  height: 25%;
  width: 20%;
  font-size: 1.1em;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 10px;
}

.sign-up {
  margin-top: 12%;
  margin-bottom: 100px;
  color: #232333;
}

.link {
  text-decoration: none;
  color: #2D8CFF;
}

.link:hover, .footer-link:hover {
  text-decoration: underline;
  cursor: crosshair;
}

.sign-up-page {

  text-align: center;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student-dashboard {
  font-family: LatoRegular;
  color: #232333;
}

.dash-menu {
  position: fixed;
  cursor: crosshair;
  text-align: center;
  width: 12%;
  padding: 1%;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 1.5em;
  background-color: #BABACC;
}

.dash-menu:hover, .dash:hover, .logout:hover, .fav:hover, .bookmark:hover, .arc:hover {
  cursor: crosshair;
  color: white;
  transition-duration: 1s;
}

.content {
  position: fixed;
  margin-top: 5%;
  text-align: center;
  width: 14%;
  margin-left: 1%;
  background-color: #BABACC;
}

.dash, .logout, .fav, .bookmark, .arc {
  text-decoration: none;
  color: #232333;
  font-size: 1.5vw;
  padding-top: .3%;
  padding-bottom: .3%;
}

.dashboard {
  font-family: LatoBold;
  margin-top: 0;
  margin-left: 20%;
  font-size: 3.5vw;
}

.main-search {
  position: absolute;
  margin-top: -6%;
  text-align: right;
  width: 30%;
  right: 5%;
}
.searchbar {
  width: 70%;
  height: 1.2em;
}

.search {
  margin-left: 1%;
  width: 25%;
  line-height: 1em;
  font-size: 2vw;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.video-box {
  display: absolute;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 5%;
  width: 55%;
  height: 40vw;
  text-align: center;
  border: solid 1px #2D8CFF;
  text-decoration: none;
  overflow-y: scroll;
}

.video-item, .favorite-item {
  font-family: LatoRegular;
  border: solid 2px #747487;
  padding-bottom: 2%;
  color: #2D8CFF;
}

.meeting-link {
  font-family: LatoRegular;
  color: #2D8CFF;
}

.meeting-link:hover {
  cursor: crosshair;
}


.favorite-item {
  text-align: center;
  padding-right: 1%;
}

.video-item:hover {
  background-color: #2D8CFF;
  color: white;
  transition-duration: 1s;
}

.favorite-item:hover {
  background-color: #BABACC;
  transition-duration: 1s;
}

.favorite-topic {
  width: 90%;
}

.topic {
  margin-top: 1%;
  margin-bottom: 1%;
}

.upload-date {
  font-family: LatoLight;
  color: #232333;
}

.video-list {
  background-color: #E4E4ED;
}

.video-header {
  position: relative;
  font-family: LatoBold;
  margin-left: 17%;
  font-size: 110%;
  z-index: -1;
}

.detail-search {
  position: relative;
  margin-left: 700px;
  margin-top: -280px;
}

.detail-searchbar {
  width: 200px;
}

.detail-search-button {
  width: 100px;
  margin-left: 1%;
  background-color: white;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.video {
  display: block;
  margin-left: 17%;
  margin-right: auto;
  margin-top: 2%;
}

.chat-shell {
  width: 250px;
  height: 350px;
  margin-top: -400px;
  margin-left: 680px;
}

.chat-title {
  float: right;
  text-align: center;
  margin-bottom: 10px;
  font-family: LatoBold;
  font-size: 17pt;
  width: 250px;
}

.chat {
  display: fixed;
  height: 325px;
  padding: 1%;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
  overflow-y: scroll;
}

.buttons {
  margin-top: 70px;
  margin-left: 17%;
}

.favorite-button {
  width: 100px;
  margin-left: 545px;
  background-color: white;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.bookmark-timestamp {
  float: left;
  width: 75px;
  margin-left: 1%;
  margin-bottom: 0;
  overflow-wrap: normal;
}

.transcript-header {
  text-align: center;
  font-family: LatoBold;
  font-size: 17pt;
  width: 555px;
}

.bookmark-button {
  width: 75px;
  margin-right: 1%;
  background-color: white;
  color: #2D8CFF;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.bookmark-button:hover {
  cursor: crosshair;
  background-color: #2D8CFF;
  color: white;
}

.transcript-shell {
  position: absolute;
  width: 630px;
  height: 170px;
  margin-top: -30px;
  margin-left: 17%;
  z-index: -1;
}

.transcript {
  position: relative;
  width: 630px;
  height: 170px;
  margin-top: -15px;
  margin-bottom: 100px;
  padding: .5%;
  overflow-y: scroll;
  font-family: LatoRegular;
  border: solid 1px #2D8CFF;
  border-radius: 5px;
}

.remove-favorite-button {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: -60px;
  margin-right: 1%;
  padding: 3%;
  height: 30px;
}

.remove-button {
  border: none;
  font-size: 15pt;
  color: #747487;
  background-color: #E4E4ED;
  border-radius: 10px;
}

.remove-button:hover {
  cursor: crosshair;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2em;
  padding: .7em;
  background-color: #747487;
  text-align: right;
  font-size: 1em;
}

.footer-link {
  margin-right: 2%;
  color: white;
  text-decoration: none;
}

.footer-text {
  padding: .5em;
}